ul {
	list-style: none;
	padding-left: 0;

}
li {
	border: 1px solid green;
	width: 100px;
}
.level1 {
	border: 1px solid green;
	display: inline-block;
}
.ul-level2 {
	position: absolute;
	visibility: hidden;
	left: -1px;
}
.ul-level3 {
	position: absolute;
	left: 100px;
	top: -1px;
	visibility: hidden;

}
.hover:hover > ul {
	visibility: visible;
}
.hover {
	position: relative;
}
.level2:nth-child(1), .level2:nth-child(2), .level3:nth-child(1), .level3:nth-child(2) {
	border-bottom: 0;
}
